section.logos
  .container.logos-container 
    h2.heading.logos-heading Working with the most trusted brands in the industry
    ul.logos-list
      li.logos-item 
        img(srcSet="./images/Google.png 2x", alt="Google")
      li.logos-item 
        img(srcSet="./images/Netflix.png 2x", alt="Netflix")
      li.logos-item 
        img(srcSet="./images/Slack.png 2x", alt="Slack")
      li.logos-item 
        img(srcSet="./images/Intercom.png 2x", alt="Intercom")