*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #7b88a8;
  line-height: 1;
  background-color: #fff;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  all: unset;
  color: white;
  border-radius: 5px;
  background-color: #4f77ff;
  cursor: pointer;
  font-family: "Outfit";
  font-weight: 500;
}

.heading {
  color: #2d3958;
  font-weight: 500;
  font-family: "Outfit";
}

.header {
  background-color: #f7f5f1;
  padding: 16px 0 230px;
  position: relative;
}
.header-shapes {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.header-scroll-inner {
  border-radius: 100rem;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9c45c;
  animation: bounced 1s linear infinite alternate;
}
.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: "Outfit";
}
.header-logo span {
  color: #2d3958;
  font-weight: 600;
  font-size: 24px;
}
.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.header-menu-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #7b88a8;
  font-size: 15px;
  font-weight: 500;
  font-family: "Outfit";
  transition: all 0.25s ease-in-out;
}
.header-menu-link:hover {
  color: #2d3958;
}
.header-tools {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-button {
  all: unset;
  cursor: pointer;
  background-color: #4f77ff;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0 38.5px;
  height: 48px;
}

@keyframes bounced {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
@media screen and (max-width: 1023.98px) {
  .header {
    padding-bottom: 80px;
  }
  .header-button {
    display: none;
  }
  .header-menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: 20;
    background-color: #292f3a;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    transition: all 0.2s linear;
    transform: translateX(100%);
  }
  .header-menu-link {
    padding: 10px;
    color: white;
  }
  .header-menu-link:hover {
    color: #4f77ff;
  }
}
.hero {
  margin-top: 88px;
  position: relative;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  max-width: 770px;
  width: 100%;
}
.hero-heading {
  margin-bottom: 40px;
  font-weight: 500;
  font-family: "Outfit";
  font-size: 72px;
  line-height: 1.0833333333;
}
.hero-heading span {
  background-image: linear-gradient(91.79deg, #857fff 32.21%, #ffc0ec 83.79%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.hero-desc {
  margin-bottom: 70px;
}
.hero-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-started {
  padding: 16px 32px;
  text-transform: uppercase;
}
.hero-play {
  display: flex;
  align-items: center;
  gap: 7px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Outfit";
  color: #2d3958;
  font-size: 15px;
}
.hero-play-icon {
  border-radius: 100rem;
  width: 52px;
  height: 52px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .hero {
    margin-top: 40px;
  }
  .hero-container {
    flex-direction: column;
    gap: 30px;
  }
  .hero-desc {
    margin-bottom: 40px;
  }
  .hero-play {
    font-size: 13px;
  }
  .hero-play-icon {
    width: 40px;
    height: 40px;
  }
}
.services {
  margin-top: 150px;
  margin-bottom: 120px;
  text-align: center;
}
.services-heading {
  font-size: 64px;
  line-height: 1.125;
  max-width: 970px;
  margin: 0 auto 30px;
  letter-spacing: -2px;
}
.services-desc {
  font-weight: 400;
  font-size: 18px;
  color: #7B88A8;
  line-height: 1.5555555556;
  margin-bottom: 80px;
  letter-spacing: -0.3px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
  margin-bottom: 70px;
}
.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(97, 119, 152, 0.2);
  transition: all 0.25s ease-in-out;
  padding: 50px 35px 60px;
}
.services-item:hover {
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
}
.services-title {
  margin: 22px 0 40px;
  font-size: 22px;
  color: #120F1F;
  font-weight: 400;
  font-family: "Outfit";
}
.services-content {
  font-size: 16px;
  color: #7B88A8;
}
.services-button {
  padding: 0 32px;
  height: 60px;
}

.logos {
  text-align: center;
  max-width: 915px;
  margin: 0px auto 120px;
}
.logos-heading {
  color: black;
  margin-bottom: 80px;
  font-size: 36px;
  line-height: 1.2777777778;
}
.logos-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.about {
  background-color: #f7f5f1;
  padding: 120px 0;
}
.about-heading {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 48px;
  line-height: 1.1666666667;
  color: #2d3958;
  text-align: center;
  margin-bottom: 30px;
}
.about-caption {
  font-size: 18px;
  color: #7b88a8;
  text-align: center;
  margin-bottom: 120px;
}
.about-sections {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section:nth-child(even) {
  flex-direction: row-reverse;
}
.about-section-heading {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2777777778;
  color: #2d3958;
  margin-bottom: 30px;
}
.about-section-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #788190;
  letter-spacing: -0.3px;
  margin-bottom: 50px;
}
.about-section-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 469px;
}
.about-section-item {
  display: flex;
  align-items: flex-start;
  gap: 13px;
}
.about-section-item-content h4 {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #2d3958;
  margin-bottom: 10px;
}
.about-section-item-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7B88A8;
}
.about-content {
  width: 100%;
  max-width: 570px;
}

/*# sourceMappingURL=app.css.map */
