doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pollock Landing Page
    link(href='https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Outfit:wght@400;500;600;700&display=swap' rel='stylesheet')
    link(rel="stylesheet", href="./styles/app.css")
    //- script(src="https://cdn.tailwindcss.com") // code tailwindcss
    //- script(src="./scripts/app.js") 
  body 
    .wrapper
      include ./views/header
      main 
        include ./views/services
        include ./views/logos
        include ./views/about
      